<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <h1>Counter</h1>
        <h2><%= counter.count %> times</h2>
        <br><br>
        <a class="btn" href="/add1">+1</a>
        <a class="btn" href="/add2">+2</a>
        <br><br>
        <a href="/reset">Reset</a>
    </main>    
</body>
</html>