<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8000/style.css">
</head>
<body>
    <main>
        <h1>Cars</h1>
        <img src="http://localhost:8000/images/Car1.jpeg" alt="Car1" />
        <img src="http://localhost:8000/images/Car2.jpeg" alt="Car2" />
        <img src="http://localhost:8000/images/Car3.jpeg" alt="Car3" />
        <br><br>
        <a href="http://localhost:8000/index.html">Back</a>
    </main>
</body>
</html>