<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <img src="http://localhost:7077/images/Cat1.jpeg" alt="cat1" width="150" height="150">
    <img src="http://localhost:7077/images/Cat2.jpeg" alt="cat2" width="150" height="150">
    <img src="http://localhost:7077/images/Cat3.jpeg" alt="cat3" width="150" height="150">

</body>
</html>